/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* COLORSCHEME */
:root {
  /* Primitives */
  /* grey */
  --black: #252525;
  /* brown */
  --brown50: #f8f6e7;
  --brown100: #bfb9a4;
  /* green */
  --green50: #737153;
  --green100: #595943;

  /* Tokens */
  /* text */
  --text_primary: var(--black);
  --text_secondary: var(--green100);
  --text_inverted: var(--brown50);
  /* surfaces */
  --surface_primary: var(--brown50);
  --surface_secondary: var(--brown100);
  --surface_third: var(--green100);
  /* borders */
  --border_primary: var(--green50);
}

/* TYPOGRAPHY */
/* Fonts */
@font-face {
  font-family: body;
  src: url("../fonts/mortmodern.woff2");
}

@font-face {
  font-family: hero;
  src: url("../fonts/brightwall.woff2");
}

@font-face {
  font-family: headings;
  src: url("../fonts/ashfortbrush.woff2");
}

/* Headings */
h1 {
  font-family: "hero";
  font-size: 4rem;
  text-align: center;
  color: var(--text_secondary);
}

h2 {
  font-family: "hero";
  font-size: 2.5rem;
  text-align: center;
  color: var(--text_secondary);
}

h3 {
  font-family: "headings";
  font-size: 2rem;
  text-align: center;
  color: var(--text_primary);
}

h4 {
  font-size: 1.5rem;
  font-family: "body";
  color: var(--text_primary);
  overflow-wrap: break-word;
  hyphens: auto;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  font-family: "body";
  color: var(--text_primary);
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 150%;
  margin-bottom: 1rem;
}

/* VIDEO */
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
}

/* ELEMENTS */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  background-color: var(--surface_primary);
  opacity: 0.9;
  width: 100vw;
  height: 10vh;
  padding-top: 2vh;
  top: 0vh;
  padding: 0vh 5vw 0vh 5vw;
}

.burger_icon {
  display: block;
  margin-top: 2.5vh;
  width: 5vw;
  height: 5vh;
  cursor: pointer;
}

nav {
  position: fixed;
  height: 100vh;
  width: 0vw;
  z-index: 1;
}

.menu {
  height: 100vh;
  width: 0vw;
  opacity: 0;
  background-color: var(--surface_secondary);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  transition: ease-in 0.5s;
  transform: translateX(130%);
}

nav.active .menu {
  width: 100vw;
  opacity: 0.9;
  transition: ease-out 0.6s;
  transform: translateX(0);
  z-index: 3;
}

.menu ul {
  margin-top: 20vh;
  margin-right: 2vw;
  text-align: right;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text_secondary);
  font-family: body;
  font-size: 2rem;
  transition: ease-in 0.5s;
}

a:hover {
  color: var(--text_inverted);
  transition: ease-out 0.5s;
}

body {
  margin-top: 20vh;
  background-color: var(--surface_primary);
}

footer {
  text-align: center;
  padding-top: 5vh;
  border-top: 5px solid;
  border-image: url("../svg/line_vert.svg") 35;
}
